@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.main {
  background-image: url(assets/images/bg.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.44;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  max-width: 60vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

body {
  background-color: black;
}

nav img {
  color: red;
  width: 120px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 62px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  padding: 0 30px;
  gap: 23px;
}
.hero > :first-child {
  font-weight: 900;
  font-size: 48px;
  gap: 10px;
  text-align: center;
  margin: 0;
}

.hero > :nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.hero :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.seperation {
  height: 8px;
  background: linear-gradient(
    to right,
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1)
  );
  position: relative;
}

.seperation::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  height: 25px;
  background: radial-gradient(
    ellipse at top,
    rgba(229, 9, 20, 0.6),
    transparent 70%
  );
  filter: blur(10px);
  z-index: -1;
}

.trend-box h2 {
  position: relative;
  top: 10px;
  left: 20px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 900;
  font-style: normal;
  margin: 0;
}
.cards-box {
  top: 30px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.rounded{
border-radius: 10px;
}